<?xml version="1.0"?>
<launch>  
    <arg name="project" default="publish_path" />
    <node pkg="$(arg project)" type="$(arg project)" name="$(arg project)" respawn="false" output="screen" >
        <rosparam subst_value="true"> 
            input_type: pose     <!-- pose, posestamp , odometry-->
            input_topic: /robot_pose
            world_frame: map
            path_topic: /history_path
            pub_frequency: 1.0
            num_limit: true
            num_max_size: 100000
            time_limit: false
            time_max_limit: 10000.0
        </rosparam>
    </node>
</launch>